.App {
  position: relative;
    right: -800px;
}

.Button{
  width: "230px"; 
  height: "90px"; 
  background-color:"#A4C8EC";
  background:"rgba(164, 200, 236, 0.75)";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a8a7a7;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li{
  margin-left: 40px;
  margin-top: 20px;
}

.Menu{
  display: inline-flex; 
  text-align: center;
  list-style-type: none;
  font-family:monospace;
}


.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
